/*###########################~~QUESTION AND ANSWERS~~################################*/

.QABodyWrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

/*##### Header #####*/
.QAAnsHeader {
  background-color: rgb(255, 255, 255);
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
}

.QASearchForm {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 100px;
}
.QASearchField {
  border: 1px solid grey;
  height: 30px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
}
.QASearchButton {
  position: absolute;
  top: 7px;
  left: 3px;
  background: transparent;
  border: none;
  outline: none;
  margin-left: 0px;
}
.QASearchButton img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.QASearchClear {
  background: transparent;
  position: absolute;
  top: 9px;
  right: 10px;
  width: 15px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
}
.QASearchClear img {
  width: 10px;
  height: 10px;
  object-fit: cover;
}

/*##### QuestionAnswer Wrapper #####*/

.QAElementWrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}
.QuesElementWrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.AnsElementWrapper {
  background-color: rgb(255, 255, 255);
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  margin-top:10px
}

/*##### Question Element #####*/
.QAQuestionBody {
  flex:5;
  display:flex;
  flex-direction: column;
  max-width: 70%;
}
.QuestionUsernameText {
  background-color: rgb(255, 255, 255);
  flex: 1;
  font-size: 22px;
  font-weight: bold;
}
.QuestionText {
  background-color: rgb(255, 255, 255);
  flex: 1;
  font-size: 20px;
}

.QAQHRWrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: fit-content;
  justify-content: flex-end;
}
.questionDate {
  font-size: 12px;
  text-align: end;
}
.QAQHelpful {
  background-color: rgb(255, 255, 255);
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 2;
  margin-top: 10px;
  font-size: 12px;
  min-width: 95px;
}
.QAQHelpfulTxt {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 5px;
}
.QAQHelpfulTxt:hover {
  color: lightskyblue;
}
.QAQReport {
  color: black;
  text-decoration: underline;
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  max-width: 110px;
  min-width: 110px;
  margin-left: 10px;
  cursor: pointer;
  text-align: end;
}
.QAQReport:hover {
  color:lightskyblue;
}
/*##### Answer Element #####*/
.AnswerUsernameText {
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: italic;
  margin-right: 3px
}
.AnswerBodyText {
  background-color: rgb(255, 255, 255);
  flex: 1;
  margin: 10px;
  margin-left: 50px;
  font-size: 16px;
}
.answerHeaderWrapper {
  color:grey;
}
.answerDate {
  font-size: 12px;
}
.QAAHRWrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-right: 10px;
}

.QAAHelpful {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  font-size: 12px;
  max-width: 90px;
  min-width: 90px;
}
.QAAHelpfulTxt {
  color: black;
  text-decoration: underline;
  margin-left: 2px;
  margin-right: 1px;
  cursor: pointer;
}
.QAAHelpfulTxt:hover{
  color:lightskyblue
}
.QAAReport {
  color: black;
  text-decoration: underline;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  font-size: 12px;
  max-width: 90px;
  min-width: 90px;
  cursor: pointer;
}
.QAAReport:hover {
  color: lightskyblue;
}
.addAnswerButton {
  border: 1px solid grey;
  font-size: 14;
  margin:10px;
  margin-left: 5%;
  flex: 1;
  background-color: white;
  max-width: 140px;
}
.addAnswerButton:hover {
  background-color: lightgrey;
}

/*##### Footer #####*/

.QALoadAndAddWrapper {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.QALoadMore {
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  margin: 10px;
  flex: 1;
  text-align: center;
  font-weight: bold;
  max-width: 140px;
  width: 65%;
  margin-right: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 55px;
  min-width: 225px;
}
.QALoadMore:hover {
  background-color: lightgrey;
}
.QAALoadMore {
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  margin: 10px;
  margin-left: 5%;
  flex: 1;
  text-align: center;
  max-width: 140px;
}
.QAALoadMore:hover {
  background-color: lightgrey;
}

.QAAddQuestion {
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  margin: 10px;
  flex: 1;
  text-align: center;
  max-width: 140px;
}
.QAAddQuestion:hover {
  background-color: lightgrey;
}
/*##### Modal Wrapper #####*/
.QAModalBtn {
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  margin: 10px;
  flex: 1;
  text-align: center;
  font-weight: bold;
  max-width: 140px;
  width: 65%;
  margin-right: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 55px;
  min-width: 225px;
}
.QAModalBtn:hover {
  background-color: lightgrey;
}
.QAModalOverlay {
  background-color: rgb(255, 255, 255);
  margin: 2px;
  position: static;
  display: flex;
  flex-direction: column;
}
.QAModalHeader {
  text-align: left;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.QAModalUsernameInputText {
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10x;
  flex: 1;
  text-align: center;
  min-width: 200px;
}
.QAModalAnswerInputText {
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10x;
  flex: 1;
  text-align: center;
  min-width: 200px;
  min-height: 40px;
}
.QACloseAndSubmitBtns {
  flex: 1;
}
.QAModalExit {
  background: rgb(252, 184, 176);
  border: 4px solid rgb(253, 0, 0);
  cursor: pointer;
  object-fit: fill;
  display: flex;
}
.QAModalExit img {
  height: 20px;
  width: 20px;
}
.QAModalSubmit {
  background-color: rgb(193, 248, 193);
}
.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
