/*###########################~~ENTIRE APP~~################################*/
.container {
  display: flex;
  flex-direction: column;
}

/*###########################~~HEADER~~################################*/
.header {
  background-color: rgb(244, 107, 3);
  padding: 45px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/*###########################~~BANNER~~################################*/
.banner {
  background-color: blanchedalmond;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/*###########################~~OVERVIEW~~################################*/
.overviewWrapper {
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
}

/*productSelector*/

.overviewProductSelectorContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: crimson;
  padding: 10px;
}

/*overviewInformation*/

.overviewInformationContainer {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  background-color: gold;
  padding: 5px;
}

.overviewReviews {
  display: flex;
  flex: 0.5;
  background-color: rgb(255, 0, 140);
  padding: 3px;
}

.overviewNameAndCat {
  display: flex;
  flex: 2;
  background-color: rgb(49, 245, 10);
  padding: 3px;
}

.overviewStyle {
  display: flex;
  flex: 2;
  background-color: rgb(255, 0, 140);
  padding: 3px;
}

.overviewSizeSelector {
  display: flex;
  flex: 1;
  background-color: rgb(49, 245, 10);
  padding: 3px;
}

.overviewBagAndStar {
  display: flex;
  flex: 1;
  background-color: rgb(255, 0, 140);
  padding: 3px;
}

/*overviewImage*/

.overviewImageGallery {
  display: flex;
  flex: 2.5;
  background-color: white;
  padding: 5px;
  min-height: 0px;
  min-width: 0px;
}

/*productDescription*/

.overviewProductDescriptionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: cornflowerblue;
  padding: 10px;
}

.overviewDescriptionText {
  display: flex;
  flex: 2.5;
  background-color: rgb(255, 234, 0);
}

.overviewDescriptionChecklist {
  display: flex;
  flex: 1.5;
  background-color: rgb(30, 255, 0);
}

/*###########################~~RELATED PRODUCTS AND COMPARISONS~~################################*/
.rItemsCompare {
  background-color: rgb(204, 17, 17);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.relatedProducts {
  background-color: rgb(250, 250, 250);
  flex: 2;
  margin: 10px;
}

.favoriteProducts {
  background-color: rgb(255, 255, 255);
  flex: 2;
  margin: 10px;
}

/*###########################~~RATINGS AND REVIEWS~~################################*/
.rateRev {
  background-color: rgb(243, 8, 192);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.ratings {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  flex: 1;
}

.reviews {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  flex: 3;
}

.reviewImage {
  height: 100px;
  width: 100px
}
.helpfulReview:hover {
  cursor: pointer;
  color: lightskyblue
}
.helpfulReview {
  text-decoration: underline;
}
.reportReview:hover {
  cursor: pointer;
  color: lightskyblue
}
.reportReview {
  text-decoration: underline;
}
/*###########################~~FOOTER~~################################*/
.footer {
  background-color: rgb(236, 252, 5);
  padding: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
