/*###########################~~ENTIRE APP~~################################*/
.container {
  display: flex;
  flex-direction: column;
}

/*###########################~~HEADER~~################################*/
.header {
  background-color: rgb(244, 107, 3);
  padding: 45px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/*###########################~~BANNER~~################################*/
.banner {
  background-color: blanchedalmond;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/*###########################~~OVERVIEW~~################################*/
.overviewWrapper {
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
}

/*productSelector*/

.overviewProductSelectorContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: crimson;
  padding: 10px;
}

/*overviewInformation*/

.overviewInformationContainer {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  background-color: gold;
  padding: 5px;
}

.overviewReviews {
  display: flex;
  flex: 0.5;
  background-color: rgb(255, 0, 140);
  padding: 3px;
}

.overviewNameAndCat {
  display: flex;
  flex: 2;
  background-color: rgb(49, 245, 10);
  padding: 3px;
}

.overviewStyle {
  display: flex;
  flex: 2;
  background-color: rgb(255, 0, 140);
  padding: 3px;
}

.overviewSizeSelector {
  display: flex;
  flex: 1;
  background-color: rgb(49, 245, 10);
  padding: 3px;
}

.overviewBagAndStar {
  display: flex;
  flex: 1;
  background-color: rgb(255, 0, 140);
  padding: 3px;
}

/*overviewImage*/

.overviewImageGallery {
  display: flex;
  flex: 2.5;
  background-color: white;
  padding: 5px;
  min-height: 0px;
  min-width: 0px;
}

/*productDescription*/

.overviewProductDescriptionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: cornflowerblue;
  padding: 10px;
}

.overviewDescriptionText {
  display: flex;
  flex: 2.5;
  background-color: rgb(255, 234, 0);
}

.overviewDescriptionChecklist {
  display: flex;
  flex: 1.5;
  background-color: rgb(30, 255, 0);
}

/*###########################~~RELATED PRODUCTS AND COMPARISONS~~################################*/
.rItemsCompare {
  background-color: rgb(204, 17, 17);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.relatedProducts {
  background-color: rgb(250, 250, 250);
  margin: 10px;
}

.favoriteProducts {
  background-color: rgb(255, 255, 255);
  flex: 2;
  margin: 10px;
}

.row {
  width: 600px;
  display: inline-block;
}

.card {
  transition: 0.3s;
  width: 90%;
  border: 1px solid #ccc;
  margin: 10px;
  position: relative;
}
.card-body {
  padding: 20px 10px;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.cardContainer {
  padding: 2px 16px;
}

.topright {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 25px;
  background-color: red;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.carousel-container {
  position: relative;
  margin: 5px;
  max-height: auto;
  padding: 5px;
  /* overflow: hidden; */
}

.carousel-gradient {
  height: 100%;
  background: linear-gradient(135deg, #00c900, #0099ff);
  padding: 2px;
}
.carousel-button-back {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: none;
  font-size: 32px;
  &[disabled] {
    background: none;
  }
}
.carousel-button-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: none;
  font-size: 32px;
  &[disabled] {
    background: none;
  }
}
.circle {
  margin: 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
  background:linear-gradient(135deg, #0099ff, #00c900);
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
}
/*###########################~~RATINGS AND REVIEWS~~################################*/
.rateRev {
  background-color: rgb(243, 8, 192);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.ratings {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  flex: 1;
}

.reviews {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  flex: 3;
}

.reviewImage {
  height: 100px;
  width: 100px
}

.helpfulReview:hover {
  cursor: pointer;
  color: lightskyblue
}
.helpfulReview {
  text-decoration: underline;
}
.reportReview:hover {
  cursor: pointer;
  color: lightskyblue
}
.reportReview {
  text-decoration: underline;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.ReviewModalExit img {
  height: 20px;
  width: 20px;

}

/*###########################~~FOOTER~~################################*/
.footer {
  background-color: rgb(236, 252, 5);
  padding: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
